extends ../master

block content
    include ../partials/alert

    h2
      img.avatar-small(src=(visitedUser.avatar) ? '/uploads/'+visitedUser.avatar : 'https://gravatar.com/avatar/f64fc44c03a8a7eb1d52502950879659?s=128' alt="Avatar" srcset="")
      = visitedUser.username
    if session.user.id !== visitedUser.id
      if !hasFollow
        form.form-inline(action=`/follow/${visitedUser.id}` method="post")
          .d-flex.form-group.justify-content-end
            button.btn.btn-success(type="submit")
              | Follow 
              i.fas.fa-user-plus
      else
        form.form-inline(action=`/unfollow/${visitedUser.id}` method="post")
          .d-flex.form-group.justify-content-end
            button.btn.btn-danger(type="submit")
              | Unfollow 
              i.fas.fa-user-minus

    .profile-nav.nav.nav-tabs.pt-2.mb-4
      a.profile-nav-link.nav-item.nav-link.active(href="#") Posts: #{posts.length}
      a.profile-nav-link.nav-item.nav-link(href="#") Followers: #{visitedUserFollowers.length}
      a.profile-nav-link.nav-item.nav-link(href="#") Following: #{visitedUserFollowing.length}
    
    +postList(posts)
      